WebRoot/WEB-INF/wsdl/HelloWebServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test.dhcc.com.cn/" targetNamespace="http://test.dhcc.com.cn/" version="1.0">

  <xs:element name="HelloWord" type="tns:HelloWord"/>

  <xs:element name="HelloWordResponse" type="tns:HelloWordResponse"/>

  <xs:complexType name="HelloWord">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HelloWordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
